<!-- Text-Block -->
<section class="page-section" id="{{ site.data.sitetext.textblock.section | default: "textblock" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.textblock.title | default: "Text Text-Block" }}</h2>
          {% if site.data.sitetext.textblock.text %}
		  <h3 class="textblock-subheading text-muted">{{ site.data.sitetext.textblock.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="row text-left">
	  {% for textblock in site.data.sitetext.textblock.list %}
        <!-- <div class="col-md-12"> -->
          <!-- <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ textblock.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span> -->
          <h6 class="textblock-heading" style="color: #01acc8;">{{ textblock.title | markdownify }}</h6>
          {% if textblock.desc %}<div class="text-muted">{{ textblock.desc | markdownify }}</div>{% endif %}
        <!-- </div> -->
	  {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End Text-Block -->